<!DOCTYPE html>
<html>
{% set site_name = site.get('name') %}
{% set page_name = page.get('name') %}
{% set site_apps = site.get('apps') %}
{% set nav_sections = ["Home", "Blog", "Experiments", "Contact", "CV"] %}
{% set nav_menus = [] %}
<head>
    <title> {{ site_name }} | {{ page_name }} </title>
    <link rel="stylesheet" type="text/css" href="/static/css/font-size.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/app/accordion.js"></script>
    {% block head %}{% endblock %}
</head>
<body id="wrapper">
    <div id="page-top">
        <div>
                <div class="headshot"></div>
            <div id="header">
                <span id="page-title">
                    {{ page_name }}
                </span>
            </div>
            <div id="nav">
                {% macro nav_item(name, extra='') -%}
                    {% set app = site_apps[name] %} {% set app_url = app['url'] %} {% set nav_id = 'nav-'+name %}
                    <span class="nav-section {% if name == page_name %}nav-current{% else %}nav-other{% endif %}">
                    <a href="{{ app_url }}"
                       id="{{ nav_id }}"
                       class="nav-link">
                        {{ name }}
                    </a>
                    </span>
                {%- endmacro %}
                {% for section in nav_sections %}
                    {{ nav_item(section) }}
                {% endfor %}

                <script>
                    document.getElementById("nav-CV").onclick = function(){
                        window.open('{{ site_apps['CV']['extra']['cv_url'] }}', '_blank')
                    }
                </script>

            </div>
            <div id="github">
                <a target="_blank"
                   href="https://github.com/alistair-broomhead/theheadofabroom.pythonanywhere.com">
                    <div>
                        <span>Source code on GitHub</span>
                        <img src="https://opam.ocaml.org/ext/img/github.png">
                    </div>

                </a>
            </div>
        </div>
    </div>
    <div id="page-mid">
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        {% block content_div %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </div>
    <small id="footer">
        © Copyright {{ site.get('copyright_year') }} {{ site.get('author') }}
    </small>
    <script>
        createAccordions(document);
        function syncMenu(nav_id){
            var navId = document.getElementById(nav_id);
            var sub = document.getElementById(nav_id+"-sub");

            navId.menu = {
                "navId": navId,
                "sub": sub,
                "count": 0,
                "increase": function (){
                    if (this.count == 0){
                        this.show();
                    }
                    this.count++;
                },
                "decrease": function (){
                    this.count--;
                    if (this.count == 0){
                        this.hide();
                    }
                },
                "show": function (){
                    this.sub.classList.add("nav-sub-shown");
                    var bounds = this.navId.getBoundingClientRect();
                    this.sub.style.top = bounds.bottom + "px";
                    this.sub.style.left = bounds.left + "px";
                },
                "hide": function (){
                    var bounds = this.navId.getBoundingClientRect();
                    this.sub.style.top = bounds.top + "px";
                    this.sub.classList.remove("nav-sub-shown");
                }
            };

            sub.onmouseover = navId.onmouseover = function(){
                var menu = document.getElementById(nav_id).menu;
                menu.increase();
            };

            sub.onmouseout = navId.onmouseout = function(){
                setTimeout(function(){
                    var menu = document.getElementById(nav_id).menu;
                    menu.decrease();
                }, 500)
            };
        };
    </script>
    {% for name in nav_sections %}
        {% set app = site_apps[name]['sub'] %}
        {% if app %}
            <div id="nav-{{ name }}-sub" class="nav-sub">
                {% for name in app %}
                    {% set sub_app = site_apps[name] %}
                    <div>
                        <a href="{{ sub_app['url'] }}">{{ name }}</a>
                    </div>
                {% endfor %}
            </div>
            <script> syncMenu("nav-{{ name }}") </script>
        {% endif %}
    {% endfor %}
    {% block onload %}
    {% endblock %}
</body>
</html>