{% extends 'base.html' %}
{% block html %}
    <html lang="en" data-ng-app="cc-game">
{% endblock %}
{% block head %}
    <script src="https://code.angularjs.org/1.2.28/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/chalk_and_cheese.css">
    <script src="/static/js/app/chalk_and_cheese/utils.js"></script>
    <script src="/static/js/app/chalk_and_cheese/player.js"></script>
    <script src="/static/js/app/chalk_and_cheese/mouse.js"></script>
    <script src="/static/js/app/chalk_and_cheese/lobby.js"></script>
    <script src="/static/js/app/chalk_and_cheese/table.js"></script>
    <script src="/static/js/app/chalk_and_cheese/game.js"></script>
{% endblock %}
{% block body %}<body id="wrapper" data-ng-controller="ccGameCtrl"> {% endblock %}
{% block content %}
    <cc-root></cc-root>
{% endblock %}
{% block onload %}
    <script>
        //ChalkAndCheese.init("{{ app['extra']['heroku'] }}");
    </script>
{% endblock %}