{% extends 'base.html' %}

{% block content %}
    <div id="welcome" class="accordion">
        <h1 class="heading"> On Github: </h1>
        <div class="collapsible">
            <p>
                My CV should pop up automatically, if it doesn't, please
                <a id="github-cv" target="_blank" href="{{ cv_url }}">click here</a>
                to find my CV on Github.
            </p>
            <p>
                For a printer-friendly pdf please
                <a id="github-cv" target="_blank" href="{{ pdf_url }}">click here</a>
                - this has been printed to a pdf on my own machine, print output from the page itself may vary by browser, operating system, and print drivers.
            </p>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    Nothing to see here...
{% endblock %}

{% block onload %}
    <script>
        setTimeout(function(){
            document.getElementById("github-cv").click();
        }, 0);
    </script>
{% endblock %}