{% extends 'base.html' %}
{% block head %}
    <!-- Shared libs -->
    <script src="/static/js/lib/particles.js"></script>
    <script src="/static/js/lib/mouse.js"></script>
    <script src="/static/js/lib/touch.js"></script>
    <script src="/static/js/lib/input.js"></script>
    <!-- App objects -->
    <script src="/static/js/app/exploder/canvas_animation.js"></script>
    <script src="/static/js/app/exploder/exploder.js"></script>
    <style>
        body #page-mid #content {
            bottom: 30px;
            right: 2%;
        }
        body #page-mid #sidebar {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <canvas id="gameCanvas"></canvas>
{% endblock %}
{% block onload %}
    <script> run(document, window); </script>
{% endblock %}