{% extends 'base.html' %}
{% block content %}
    <div id="welcome" class="accordion">
        <h1 class="heading"> Welcome! </h1>
        <div class="collapsible">
            <p>This is the personal website of Alistair Broomhead</p>
        </div>
    </div>

    <div id="social_media" class="accordion collapsed">
        <h2 class="heading"> Find me online </h2>
        <div class="collapsible">
            <ul>
                {% for label, link in [
                    ["Twitter", "twitter.com/theheadofabroom"],
                    ["LinkedIn", "uk.linkedin.com/in/alistairbroomhead/"],
                    ["Google+", "plus.google.com/+AlistairBroomhead"],
                    ["Github", "github.com/alistair-broomhead"],
                    ["Stack Overflow/Stack Exchange",
                     "stackexchange.com/users/330968/theheadofabroom"]
                ] %}
                <li>
                    <a target="_blank" href="http://{{ link }}">
                        {{ label }}
                    </a>
                </li>
                {%  endfor %}
            </ul>
        </div>
    </div>

    <div id="blog_posts_and_talks" class="accordion collapsed">
        <h2 class="heading"> Guest blog posts and talks </h2>
        <div class="collapsible">
            <ul>
                {% for label, link in [
                    ["Slides for a BDD talk I gave to London Python Dojo",
                     "goo.gl/DE8oQE"],
                    ["Mindcandy blogpost on BDD",
                     "tech.mindcandy.com/2014/03/musings-on-bdd/"],
                    ["Event publicity for London Python Dojo",
                     "tech.mindcandy.com/2014/02/mindcandy-hosts-london-python-dojo/"],
                     ["A presentation I made to the tools team at Mind Candy on BDD",
                      "goo.gl/oYqnDu"]
                ] %}
                <li>
                    <a target="_blank" href="http://{{ link }}">
                        {{ label }}
                    </a>
                </li>
                {%  endfor %}
            </ul>
        </div>
    </div>

    <div id="projects" class="accordion collapsed">
        <h2 class="heading"> Live projects </h2>
        <div class="collapsible">
            <ul>
                {% for name in site_apps.get('Experiments').get("sub") %}
                    {% set app = site_apps.get(name) %}
                    {% if 'description' in app %}
                        <li>
                            <a target="_blank" href="{{ app.get('url') }}">
                                {{ name }} - {{ app.get('description') }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <img style="float: right" src="http://www.gravatar.com/avatar/0c85ef5eb7678857e2a6b793dfe055a3.png"/>
{% endblock %}