body #page-mid #content {
  bottom: 30px;
  right: 2%;
}
body #page-mid #content #players {
  display: block;
  width: 100%;
}
body #page-mid #sidebar {
  display: none;
}
#state {
  display: inline-block;
  float: left;
}
.tabs {
  position: relative;
  line-height: 1;
  z-index: 1;
}
.tab {
  display: inline;
}
.tab > div {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 0 0 15px 15px;
  border-width: 15px;
  border-color: #12aa21;
  border-style: solid;
  margin: 0 5px 5px 5px;
  padding: 5px;
  min-height: 300px;
  min-width: 600px;
  width: 80%;
}
.tab > a {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #095511;
  font-size: 20px;
  color: #ffffff;
  font-family: arial, verdana, sans-serif;
}
.tab > a:hover {
  background-color: #432234;
}
.tab:not(:target) > div {
  z-index: 0;
  border-bottom-style: none;
}
.tab:target > a {
  background-color: #12aa21;
}
.tab:target > div {
  z-index: 2;
}
.cc-table .turn {
  font-weight: bold;
}
.cc-table .name {
  font-size: 1.7em;
}
