@import "material";
@import "theme";

* {
    padding : 0;
    margin : 0;
}

.full-height-card {
      background: @text-background;
      color: @text-main;
      .with-shadow;
      top: 75px; /* Height of header and nav */
      //bottom:20px; /* Height of the footer element */
      padding: 10px;

}

body {
  background: @page-background;
  color: @text-main;

  height: 100%;

  font-family: Helvetica, Arial, sans-serif;

  #page-top {
    .top-bar(@primary-colour: @primary-colour);

    height: 56px;

    & > div {
      padding: 8px 4%;

      #header {
        display: inline-block;
        padding: 9px 0;
        font-size: 1.5em;
        min-width: 200px;
      }

      .heading-section {
        display: inline-block;
        height: 100%;
        padding: 12px;
        background: @lightened;
        .with-shadow;

        & * {
          margin: 0 6px;
          padding: 4px;
          border-radius: 2px;
          top: 0;
        }

      }
      #nav {
        .heading-section;

        & * {
          background: @text-background;
          .with-shadow;
        }
      }

      #github {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        padding: 0;
        span {
          .with-shadow;
          background: @text-background;
          padding: 10px 4px;
          border-radius: 2px;
          height: 10px;
          position: absolute;
          top: 1px;
          right: 34px;
          width: 150px;
          @media screen and (max-width: 720px) {
            display: none;
          }
        }
      }
    }
  }
  #page-mid {

    #content {
      .section(@background-colour: @section-background;
               @heading-colour: @secondary-colour);

      background: @section-background;
      margin: 10px;
      padding: 10px;
      top: 75px; /* Height of header and nav */

      .transition {
          @duration: .25s;
          @property: all;
          @delay: 0;
          @timing: ease;
          -webkit-transition: @property @duration @timing @delay;
          -moz-transition: @property @duration @timing @delay;
          -ms-transition: @property @duration @timing @delay;
          -o-transition: @property @duration @timing @delay;
          transition: @property @duration @timing @delay;
      }

      .accordion {
        .transition;

        .heading {
          color: @secondary-colour;
          margin: 10px;
          margin-top: 40px;
          .transition;
        }
        div {
          background: @text-background;
          .with-shadow;
          margin: 10px;
          padding: 10px;
        }
        .collapsible {
          visibility: visible;
          height: auto;
          margin-bottom: 20px;
          .transition;
          & > *{
            .transition;
          }
        }
      }
      @media screen {
        .contracted {
          background: @text-background;
          .with-shadow;
          margin: 0;
          padding: 5px;

          .heading {
            margin: 5px;
            padding: 0;
            font-size: 1.2em;
          }
          .collapsible {
            margin: 0;
            padding: 0;
            & > * {
              height: 0;
              font-size: 0;
            }

          }
        }
        
      }

      right: 30%;
      left : 2%;
      position: absolute;
    }

    #sidebar {
      .full-height-card;
      position: fixed;
      right: 2px;
      left: 72%;
    }
  }
  #footer {
    .bottom-bar(@primary-colour: @primary-colour);
    margin: auto;
    padding: 2px;
    padding-right: 4%;
    padding-left: 52%;
    height: 24px;
  }
}

/* Dimensions */

hr {
    margin : 1em;
}

li {
    padding: 0.5em;
}