/* Theme Colours */
html, body, #page-top, #header, #footer  {
    background: lavender;
    color: lightslategray;
}

#content, #sidebar, #nav a{
    background: lightslategrey;
    color: lavender;
}

#nav a {
    border-top: 1px solid slategray;
    border-left: 1px solid slategray;
    border-right: 1px solid slategray;
}

/* Fonts */

html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Curved Tab edges */

#nav a {
    border-top-left-radius: 15px;
    border-top-right-radius: 2px;
}

/* Dimensions */

* {
    padding : 0;
    margin : 0;
}
html,
body {
	height:100%;
}

#page-top {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#wrapper {
    min-height:100%;
}
#header h1 {
    padding: 10px 2% 5px;
}
#nav a {
    padding : 5px;
    margin: 0 0 0 -4px;
}

#nav {
    padding: 0 0 0 4px;
    position: fixed;
    right : 30%;
    left : 2%;
    top: 55px; /* Height of heading + padding and margins */
}

#content, #sidebar {
    top: 75px; /* Height of header and nav */
    bottom:20px; /* Height of the footer element */
    padding: 10px;
}

#content {
    right: 30%;
    left : 2%;
    position: absolute;
}

#sidebar {
    position: fixed;
    right: 2px;
    left: 72%;
}

#footer {

    vertical-align: middle;
    text-align: right;
    padding-left: 240px; /* chrome status bar intrudes here - in case I add more to my footer, this padding should stop me from forgetting */
    padding-right: 10px;

    position: fixed;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}